<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}{% endblock %}
    <!-- Main Styles -->
    <link rel="stylesheet" href="./static/css/style.css">
    <!-- AlpineJs -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.12.0/cdn.js" integrity="sha512-6pVa1JFPLsAVloI/eZXmbDkCWYVB3Y8ODVA2gVUIowY2laRHAYaYPE1f4KjSvPwNimMmGo4MvteDc3JZEjEikA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}
  </head>
  <body>
    {% block navigation %} {% endblock %}
    {% block content %} {% endblock %}
  </body>
</html>
