<div class="loader fixed top-0 left-0 w-full overflow-hidden z-[1000] bg-gradient-to-t to-gray-700 from-gray-900 flex items-center justify-center">
  <div class="w-36 h-36 relative">
    <div class="w-full h-full absolute -z-10 bg-rose-500 rounded-full opacity-75 animate-ping"></div>
    <div class="loader__logo w-full h-full absolute bg-gradient-to-tl from-rose-700 to-rose-500 rounded-full flex items-center justify-center">
      <span class="text-sm text-white font-bold tracking-widest">{{ brandTitle | upper }}</span>
    </div>
  </div>
</div>