{%- macro title(titleTxt = '') -%}
  <title>
  	{%- if titleTxt == '' -%}
  		{{ brandTitle | upper }}
		{%- else -%}
			{{ titleTxt | title }} | {{ brandTitle | upper }}
		{%- endif -%}
  </title>
{%- endmacro -%}