{% macro activateMenu(currentMenu="home") %}

{# ============= NAV DATA ============== #}
{% set navItems = [
		{
			title: 'home',
			url: '/'
		},
		{
			title: 'services',
			url: '/services'
		},
		{
			title: 'about',
			url: '/about'
		},
		{
			title: 'contact',
			url: '/contact'
		}
	] 
%}
{# ===================================== #}

<nav class="bg-gray-900 border-b-4 border-b-rose-600 shadow-md">
	<div class="container px-8 2xl:px-36 mx-auto flex items-center">
		<div class="brand-logo">
			<h1 class="text-2xl font-bold text-white">{{ brandTitle | upper }}</h1>
		</div>
		<div class="navbar ml-auto flex items-center">
			{% for nav in navItems %}
				<a class="block p-6 text-white {% if currentMenu == nav.title %}bg-gray-700{% else %}hover:bg-gray-800{% endif %}" href="{% if baseURL == 'http://localhost:3000' %}{{ nav.url }}{% else %}{{ [baseURL, nav.url] | join }}{% endif %}">{{ nav.title | title }}</a>
			{% endfor %}
		</div>
	</div>
</nav>
{% endmacro %}
