{% macro heading(headTxt='') %}
	<section class="page__heading bg-gray-700 py-12">
	  <div class="container px-8 2xl:px-36 mx-auto">
	    <h1 class="text-right text-gray-400 text-5xl font-serif">{{ headTxt | title }}</h1>
	  </div>
	</section>
{% endmacro %}